## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [2]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
# predictors_norm = (predictors - predictors.mean()) / predictors.std()
# predictors_norm.head()
predictors_norm = predictors

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [14]:
# # define regression model
# from livelossplot import PlotLossesKeras

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
#     model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [16]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 1s - loss: 51787.9524 - val_loss: 1676.4201
Epoch 2/50
 - 0s - loss: 2164.4801 - val_loss: 1404.8828
Epoch 3/50
 - 0s - loss: 1168.6978 - val_loss: 637.6874
Epoch 4/50
 - 0s - loss: 937.6722 - val_loss: 451.2084
Epoch 5/50
 - 0s - loss: 789.5509 - val_loss: 371.8669
Epoch 6/50
 - 0s - loss: 658.7793 - val_loss: 308.0868
Epoch 7/50
 - 0s - loss: 547.7194 - val_loss: 272.9709
Epoch 8/50
 - 0s - loss: 437.6462 - val_loss: 239.6471
Epoch 9/50
 - 0s - loss: 342.8475 - val_loss: 220.3506
Epoch 10/50
 - 0s - loss: 279.0320 - val_loss: 214.4156
Epoch 11/50
 - 0s - loss: 236.4520 - val_loss: 207.0848
Epoch 12/50
 - 0s - loss: 213.6016 - val_loss: 195.4304
Epoch 13/50
 - 0s - loss: 181.8317 - val_loss: 189.2768
Epoch 14/50
 - 0s - loss: 162.9230 - val_loss: 184.8333
Epoch 15/50
 - 0s - loss: 150.6011 - val_loss: 174.6000
Epoch 16/50
 - 0s - loss: 141.2333 - val_loss: 174.1577
Epoch 17/50
 - 0s - loss: 133.0987 - val_loss: 147.9982
Epoch 18/50
 - 0s - loss: 126.2917 - val_loss: 145.7238
Epoch 19/50
 - 0s - loss: 120.5744 - val_loss: 131.6418
Epoch 20/50
 - 0s - loss: 115.7174 - val_loss: 135.1539
Epoch 21/50
 - 0s - loss: 112.5239 - val_loss: 120.0622
Epoch 22/50
 - 0s - loss: 111.3796 - val_loss: 122.8312
Epoch 23/50
 - 0s - loss: 109.3890 - val_loss: 118.9534
Epoch 24/50
 - 0s - loss: 107.3886 - val_loss: 112.4233
Epoch 25/50
 - 0s - loss: 101.3051 - val_loss: 100.3539
Epoch 26/50
 - 0s - loss: 99.4615 - val_loss: 101.3645
Epoch 27/50
 - 0s - loss: 97.7837 - val_loss: 95.7604
Epoch 28/50
 - 0s - loss: 99.5624 - val_loss: 94.1242
Epoch 29/50
 - 0s - loss: 94.7680 - val_loss: 89.7659
Epoch 30/50
 - 0s - loss: 96.9983 - val_loss: 95.8045
Epoch 31/50
 - 0s - loss: 93.2589 - val_loss: 91.6419
Epoch 32/50
 - 0s - loss: 91.9435 - val_loss: 84.9041
Epoch 33/50
 - 0s - loss: 91.3931 - val_loss: 87.0504
Epoch 34/50
 - 0s - loss: 90.9483 - val_loss: 84.7921
Epoch 35/50
 - 0s - loss: 89.8008 - val_loss: 90.3098
Epoch 36/50
 - 0s - loss: 87.5077 - val_loss: 84.4777
Epoch 37/50
 - 0s - loss: 86.8427 - val_loss: 80.9266
Epoch 38/50
 - 0s - loss: 87.1935 - val_loss: 87.0173
Epoch 39/50
 - 0s - loss: 85.9483 - val_loss: 80.5444
Epoch 40/50
 - 0s - loss: 84.5038 - val_loss: 94.5114
Epoch 41/50
 - 0s - loss: 85.3072 - val_loss: 79.7952
Epoch 42/50
 - 1s - loss: 84.3660 - val_loss: 81.1673
Epoch 43/50
 - 0s - loss: 82.8986 - val_loss: 81.3499
Epoch 44/50
 - 0s - loss: 83.5723 - val_loss: 91.8118
Epoch 45/50
 - 0s - loss: 84.0066 - val_loss: 78.8339
Epoch 46/50
 - 0s - loss: 80.9857 - val_loss: 79.7809
Epoch 47/50
 - 0s - loss: 80.7271 - val_loss: 82.9389
Epoch 48/50
 - 0s - loss: 80.5930 - val_loss: 80.7737
Epoch 49/50
 - 0s - loss: 81.4026 - val_loss: 82.4707
Epoch 50/50
 - 0s - loss: 78.9903 - val_loss: 80.0054